* {
    margin: 0;
    padding: 0;
    /*border: 1px solid rgb(57, 201, 206);*/
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 5fr;
    text-align: center;
    max-height: 100vh;
}

.main-header {
    grid-column: 2;
    box-shadow: 0px 2px 6px 0px rgba(138, 186, 206, 0.767);
    z-index: 1;
}

.nav {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr 6fr;
    gap: 1.5em;
    min-width: 25%;
    background-color: #22d3ee;
    padding-left: 1rem;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#header-ico{
    flex: 1;
    max-width: 100px;
    min-width: 25%;
}

.icon {
    margin: 2px;
    width: 75%;
    min-width: 50%;
}

.tittle {
    flex-grow: 2;
    color: #FFF;
    font-size: 40px;
}

.links, .options {
    display: grid;
    grid-template-columns: 20% 5fr;
    column-gap: 1em;
    align-items: center;
}

.links a, .options a{
    justify-self: start;
    text-decoration: none;
    color: #FFF;
    font-size: 25px;
    font-weight: bolder;
}

.main-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 2.5rem;
}

.search-section {
    grid-column: 1 / 3;
}

.actions {
    grid-row: 2;
    grid-column: 3;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.actions button {
    width: 20%;
}

.l-user {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-row: 1fr 1fr;
    text-align: start;
    gap: .5rem;
}

.user-ico {
    grid-row: 1 / 3;
    grid-column: 1;
}

.s-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 10px;
}

.search-section {
    display: flex;
    gap: 20px;
}

.search-bar {
    flex: 1;
    
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 40px;
    gap: 20px;
    background-color: aliceblue;
    overflow: hidden;
    grid-row: 2;
}

.projects {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.projects::-webkit-scrollbar {
    display: none;
}

.projects h1 {
    text-align: left;
    margin: 1rem;
    margin-left: 0;
}
.card-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    overflow: scroll;
    overflow-x: hidden; 
    gap: 1rem;
}

.card-container::-webkit-scrollbar {
    display: none;
}

.card, .add-container, .trending-container {
    background-color: #FFF;
    border-radius: 10px;
    display: flex;
    gap: 2rem;
}

.decoration {
    width: 10px;
    background-color: #000;
    border-radius: 20px 0px 0px 20px;
    flex-shrink: 0;
}

.card-content {
    flex-grow: 1;
    display: grid;
    grid-template-rows: 1fr 50% 1fr;
    padding: 2rem 0;
    padding-right: 2rem;
    gap: 1rem;
}

svg{
    fill: #FFF;
    width: 100%;
}


.blue-svg{
    fill: #22d3ee;
}

.search-bar{
    background-color: #ecfeff;
    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.473);
}

.search-icon, .alerts{
    width: 40px;
}

.user-ico-s img{
    width: 55px;
    border-radius: 50%;
}

.user-ico{
    width: 80px;
    border-radius: 50%;
    margin-top: 1rem;
}

.greet{
    align-self: end;
}

.actions {
    margin-left: 10px;
}
.actions button{
    min-width: 100px;
    color: #FFF;
    background-color: #22d3ee;
    padding: 12px 8px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bolder;
    border: 1px solid rgba(128, 128, 128, 0.473);
}

.card-links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
}

.card-link-icon {
    width: 13%;
    max-width: 50px;
}

.announcements, .trendings {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.add-container, .trending-container {
    flex-grow: 1;
    flex-direction: column;
    padding: 2rem;
}

.add, .trending {
    flex-grow: 1;
}

.add h3{
    margin-bottom: 1rem;
}

.separator {
    border: 1px solid #22d3ee49;
}

.trending {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.trending-user {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}